.button {
  display: block;
  // width: 210px;
  // height: 43px;
  font-style: normal;
  font-weight: 700;
  // font-size: 14px;
  line-height: 1.2;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  border-color: transparent;
  color: rgb(14, 13, 13);
  background-color: rgba(111, 204, 228, 0.808);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  transition: background-color 100ms linear;
  cursor: pointer;
  &:hover,:focus{
     background-color: rgba(35, 72, 82, 0.808);
  }
  &:disabled{
    background-color: rgba(99, 135, 145, 0.664)
  }
}
