@import "../../styles/variables.scss";
.linkBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.link,
.linkDark {
  position: relative;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;

}
.link {
  color: $main-text-color;
  &:hover{
    color: $buttons-hover;
  }
}
.linkDark{
  color: $accent-text-collor;
  &:hover{
    color: $buttons-color;
  }
}


.active__link,
.active__linkDark {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  // color: rgb(90, 19, 78);
  text-decoration: none;
  &::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: -3px;
    height: 2px;
    width: calc(100% + 6px);
  }
}

.active__link{
   color: $link-hover;
   &::after {
      background-color: $link-hover;
   }
}
.active__linkDark{
  color: $buttons-color;
  &::after{
    background-color: $buttons-color;
  }

}