.counterBox {
  display: inline-flex;
  align-items: center;
  margin-right: 5px;
  }

.buttonBox {
  display: flex;
  margin-right: 5px;
}

.changeButton{
    margin-right: 5px;
    margin-left: 5px;
    @media screen and (max-width: 767px){
      width: 30px;
      height: 30px;
    }
}
.saveButton {
  width: max-content;
  @media screen and (max-width: 767px){
    height: 30px;
  }
}

.mobileHide{display: none;}
.input{
 max-width: 50px;
 text-align: center;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none; // Yeah, yeah everybody write about it
}

.input,
.input:hover,
.input:focus {
    appearance: none;
    -moz-appearance: textfield;
}