.counterBox {
  display: inline-flex;
  margin-right: 5px;
  }

.buttonBox {
  display: flex;
  margin-right: 5px;
}

.changeButton{
    margin-right: 5px;
    margin-left: 5px;
}
.saveButton {
  width: max-content;
}
