$main-text-color: #000000;
$accent-text-collor: #ffffff;
$title-color:#212121;
$main-background-color: #FFFFFF;
$dark-theme-background-color: rgb(56, 55, 84);
// $secondary-background-color: #1f2222e3;
$accent-color:rgba(127, 255, 212, 0.466);
$buttons-color:rgba(111, 204, 228, 0.808);
$buttons-hover: rgba(35, 72, 82, 0.808);
$button-accent: #FC842D;
$link-hover: rgb(75, 18, 75);
$link-hover-dark: rgb(75, 18, 75);
$table-collor: #f0eeee;
$table-collor-dark: #4b5451;
$shadow-color: #000000;
$shadow-dark-color:#ffffff;
$backdrop-color:rgba(33, 33, 33, 0.12);
$border-color: #E0E0E0;
$underline-color: rgb(128, 128, 128);
$underline-color-dark: #493e4b;
$button-back-color: #EFF1F3;

