.title {
    font-family: 'Spectral SC';
    font-weight: 600;
    font-size: 28px;
    line-height: 1.5em;
    text-transform: uppercase;
    color: #424242;

}

.catalog__title {
    margin-bottom: 65px;
    text-align: center;
}

.subcaterogy__title {
margin-bottom: 30px;
font-size: 24px;
}
