.box{}

.title{

}
.searchBox{
}
.searchLabel{
    margin: 0;
    margin-bottom: 10px;
}
.searchInput{
    text-align: center;
    height: 25px;
    border-radius: 5px;
    border: 1px solid black;
}
.emptyTitle{

}