.nav,
.unauthoriseNav {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 0;
  width: 100%;
  height: 75px;
  @media screen and (max-width: 767px) {
    position: fixed;
    top: -100%;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
    transition: top 300ms linear;

    &.active {
      position: absolute;
      top: 74px;
      left: 0px;
      width: 100%;
      height: 100vh;
      background-color: rgba(145, 145, 145, 0.932);
      flex-direction: column;
      align-items: center;
      font-size: 14px;
      overflow: auto;
      z-index: 1;
      & .list {
        padding: 0px;
        flex-direction: column;
      }
      & .buttonBox {
        height: 30px;
      }
    }
    .list {
      flex-direction: column;
    }
    .item {
      margin: 0px 0px 20px 0px;
      font-size: 24px;
    }
  }
}

.buttonBox {
  position: absolute;
  right: 0px;
  display: flex;
  justify-content: center;
  width: auto;
  @media screen and (max-width: 767px) {
    position: static;
  }
  @media screen and (min-width: 1280px) {
    right: 10px;
  }
}

.unauthoriseNav {
  width: auto;
}

.logo {
  width: 60px;
}
.box {
  position: relative;
  margin: 0;
  z-index: 2;
  width: 100%;
  background-color: rgba(127, 255, 212, 0.466);
}

.content,
.unauthoresedContent {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 75px;
}

.unauthoresedContent {
  justify-content: space-around;
}

.burgerButton {
  display: block;
  height: 30px;
  width: 30px;
  padding: 0px;
  font-weight: 900;
  border-radius: 5px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.list {
  display: flex;
  flex-direction: row;
  margin: 0;
  // padding: 10px 20px 0px;
  align-items: center;
  list-style: none;
}

.item {
  @media screen and (max-width: 767px) {
    margin-right: 10px;
  }
  margin-right: 20px;
  font-weight: 600;
}

.link {
  text-decoration: none;
  color: black;
  &:hover {
    border-bottom: 2px solid black;
    text-shadow: 0 0 1em rgba(56, 56, 58, 0.603),
      0 0 0.2em rgba(63, 63, 73, 0.479);
  }
}

.active__link {
  color: rgb(77, 15, 134);
  position: relative;
  text-decoration: none;
  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: -5px;
    width: 100%;
    left: 0px;
    height: 3px;
    background-color: rgb(77, 15, 134);
  }
}

.userBox {
  display: flex;
  align-items: center;
}
.user {
  margin-right: 10px;
}

.userName, 
.active__userName {
  position: relative;
  max-width: 75px;
  margin-right: 10px;
  font-weight: 600;
  font-size: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
 
}

.active__userName{

  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: -5px;
    width: 100%;
    left: 0px;
    height: 3px;
    background-color: rgb(77, 15, 134);
  }
}


.button {
  height: 30px;
}
