.box {
  margin: 0;
  overflow-y: auto;
}

.filterForm {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: fit-content;
}
.formBox {
}

.searchInput {
}

.filterBox {
  padding: 20px;
  padding-bottom: 0px;
}

.radioBotton {
  margin-right: 15px;
}

.listBox{
  margin: auto;
  width: max-content
}

.list {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  padding: 0px;
  margin: 0px;
  list-style: none;

}

.item {
  position: relative;
  display: flex;
  // justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 0px;
  border-bottom: 1px solid black;
}
.radioBox {
  height: 28px;
  margin-right: 10px;
}
.listTitle {
  display: inline-block;
  width: 70px;
  height: 25px;
  margin: 0px
}

.hexColor {
  height: 25px;
  width: 40px;
  @media screen and (min-width: 768px) {
    width: 65px;
  }
}
.number {
  width: 70px;
  text-overflow: ellipsis;
  overflow: hidden;
  @media screen and (min-width: 768px) {
    width: 80px;
  }
}
.colorName {
  @media screen and (max-width: 767px) {
    display: none;
  }
  width: 65px;
  text-overflow: ellipsis;
  overflow: hidden;
  @media screen and (min-width: 768px) {
    width: 120px;
  }
}
.label {
  width: 70px;
}

.count {
  display: inline-block;
  // flex-grow: 1;
  width: 100px;
  @media screen and (max-width: 767px) {
    width: 50px;
    // flex-grow: 0.75;
  }
}

.mobileHide {
  white-space: pre-wrap;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.counterBox {
  display: flex;
  width: 120px;
}

.counter {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0, -25%);
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  background: #3e4646;
  color: white;
}
.editBotton,
.deleteButton,
.closeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: 30px;
  margin-right: 5px;
  margin-left: 5px;
}

.label {
}
.deleteButton {
  // width: fit-content;
}
.closeButton {
  // width: fit-content;
}
