@import "../../styles/variables.scss";


.box {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  min-height: 75px;
  background-color: rgba(127, 255, 212, 0.466);
}
.footerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
.title {
  color: $main-text-color;
  margin-top: 0px;
  @media screen and (max-width: 767px) {
    margin-bottom: 5px;
  }
}
.logo {
  width: 100px;
  // height: 60px;
}
.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}
.underline,
.underlineDark {
  left: 0px;
  position: absolute;
  display: block;
  width: 100%;

}

.underline{
  border-bottom: 1px solid $underline-color;
}
.underlineDark{
  border-bottom: 1px solid $underline-color-dark
}

.copyright {
  padding-top: 5px;
  color: $main-text-color;
}
.content {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.socList {
  display: flex;
  padding: 0px;
  margin: 0px;
}
.contactsList {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  @media screen and (max-width: 767px) {
    align-items: center;
    // flex-direction: column-reverse;
  }
}

.socLink,
.socLinkDark {
  margin: 5px;

  & svg:hover,
  svg:focus {
    fill: inherit;
  }
}

.socLink,
.contactsLink {
  padding: 0px;
  align-items: center;
  //   margin-bottom: 10px;
  border: none;
  background-color: transparent;
  color: black;
  &:hover,
  :focus {
    fill: $link-hover;
  }
}

.contactsLink,
.contactsLinkDark {
  display: flex;
  border: none;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
}

.socLinkDark,
.contactsLinkDark {
  color: $main-text-color;
  &:hover,
  :focus {
    fill: $link-hover-dark;
  }
}
.contactsItem {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.svg {
  display: block;
  width: 30px;
  height: 30px;
}

.contactsSvg {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.locationSvg {
  position: absolute;
  right: -25px;

  fill: rgb(177, 28, 28);
  width: 20px;
  height: 20px;
  animation: myAnim 1000ms linear 10ms infinite alternate backwards;
}

@keyframes myAnim {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}
