.box {
  min-height: 500px;
}

.list {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: flex-start;
  list-style: none;
}

.item {
  margin-right: 20px;
  font-size: 18px;
}

.link {
  text-decoration: none;
}
