@import "../../styles/variables.scss";

.title{
margin: auto;
}
.box{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.botton{
  position: absolute;
  left: 0px;
}

.back{
  color: black;
  font-weight: 600;

}

.list {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: flex-start;
  padding: 0px;
  list-style: none;
}

.item {
  margin-right: 20px;
  font-size: 18px;
}

.link,
.linkDark {
  font-weight: 600;
  text-decoration: none;

}
.linkDark{
  color: $buttons-color;
  &:hover{
    color: $accent-text-collor;
  }
}