body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 .radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  /* для элемента label связанного с .custom-radio */
  .radio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  /* создание в label псевдоэлемента  before со следующими стилями */
  .radio+label::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 7px 15px 7px 10px;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 50%;
    outline: 1px solid grey;
    /* margin-right: 0.5em; */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  /* стили при наведении курсора на радио */
  .radio:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
  }
  /* стили для активной радиокнопки (при нажатии на неё) */
  .radio:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
  }
  /* стили для радиокнопки, находящейся в фокусе */
  .radio:focus+label::before {
    /* box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); */
  }
  /* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
  .radio:focus:not(:checked)+label::before {
    border-color: #80bdff;
  }
  /* стили для радиокнопки, находящейся в состоянии checked */
  .radio:checked+label{
    font-weight: 600;
  }
  .radio:checked+label::before {
    margin: 0px 11px 0px 0px;
width: 24px;
height: 24px;
box-shadow: none;
outline: none;
background-color: transparent;
    border: none;
    border-radius: 0px;
    background-image: url("./images/radio1.svg");
    background-position: center;
    background-size: cover;
  }
  /* стили для радиокнопки, находящейся в состоянии disabled */
  .radio:disabled+label::before {
    background-color: #e9ecef;
  }