
    .form {
      display: flex;
      flex-direction: column;
      width: fit-content;
      margin: auto;
      align-items: center;
       @media screen and  (min-width: 1280px) {
        flex-direction: row;
      }
  }

  
  .input {
    margin: 15px;
    height: 30px;
    border-radius: 5px;
  
    width: 250px;
  }
  .input::placeholder{
    padding: 10px;
  }
  
  .button {
    font-size: 18px;
    box-sizing: border-box;
    padding: 10px 15px;
    width: 150px;
    margin: auto;
    background-color: #96d4d4;
    border: none;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .button:hover,
  .button:focus {
    background-color: #5eb9b9c9;
  }
  
  